# IIRER Data Collection App — Environment Variables
# Copy this file to .env and fill in your values
# Never commit .env to version control

# Azure Blob Storage
AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=swtcie;AccountKey=ry7s5g7TyXr9LRkG1pmGggIRH6/6kkYkvLDGadksu2DS5dGfNWP7F7V675a/09JYpwRf9eIDd3XG+ASt0KXYkA==;EndpointSuffix=core.windows.net
AZURE_BLOB_CONTAINER_NAME=iirer-submissions
